@import "./custombs.scss";



.demo {
  height: 100px;
  background: $light;
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layers::before {
  top: 5px;
  left: 15px;
  color: $success;
}

.layers::after {
  top: 5px;
  left: -5px;
  color: $primary;
  z-index: -1;
}

.single-path {
  clip-path: polygon(0% 74%,50% 74%,50% 81%,10% 81%,10% 50%,26% 50%,26% 63%,13% 63%,13% 64%,32% 64%,32% 84%,0% 84%,0% 8%,23% 8%,23% 93%,56% 93%,56% 72%,45% 72%,45% 76%,16% 76%,16% 14%,67% 14%,67% 83%,99% 83%,99% 38%,76% 38%,76% 5%,31% 5%,31% 75%,36% 75%,36% 98%,3% 98%,3% 37%,81% 37%,81% 48%,81% 48%,81% 1%,77% 1%,77% 6%,82% 6%,82% 59%,59% 59%,59% 52%,41% 52%,41% 1%,82% 1%,82% 50%,41% 50%,41% 91%,92% 91%,92% 9%);
}

.paths {
  animation: paths 7s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(0% 54%,80% 54%,80% 7%,10% 7%,10% 1%,18% 1%,18% 9%,47% 9%,47% 34%,95% 34%,95% 69%,54% 69%,54% 4%,88% 4%,88% 75%,18% 75%,18% 75%,26% 75%,26% 56%,70% 56%,70% 62%,50% 62%,50% 92%,73% 92%,73% 88%,8% 88%,8% 15%,68% 15%,68% 41%,68% 41%,68% 67%,86% 67%,86% 73%,46% 73%,46% 55%,29% 55%,29% 86%,52% 86%,52% 7%,82% 7%,82% 59%,64% 59%,64% 19%,33% 19%,33% 42%,7% 42%,7% 7%,35% 7%,35% 52%,6% 52%,6% 55%);
  }
  5% {
    clip-path: polygon(0% 29%,36% 29%,36% 78%,66% 78%,66% 37%,86% 37%,86% 88%,42% 88%,42% 74%,39% 74%,39% 20%,24% 20%,24% 43%,24% 43%,24% 47%,8% 47%,8% 21%,57% 21%,57% 94%,5% 94%,5% 63%,47% 63%,47% 81%,93% 81%,93% 75%,8% 75%,8% 36%,33% 36%,33% 8%,27% 8%,27% 87%,1% 87%,1% 53%,49% 53%,49% 22%,76% 22%,76% 35%,72% 35%,72% 34%,30% 34%,30% 56%,38% 56%,38% 54%,83% 54%,83% 31%,76% 31%,76% 98%,25% 98%,25% 65%,18% 65%,18% 86%,74% 86%,74% 96%,3% 96%,3% 64%,81% 64%,81% 6%,71% 6%);
  }
  33% {
    clip-path: polygon(0% 71%,16% 71%,16% 57%,36% 57%,36% 38%,95% 38%,95% 35%,56% 35%,56% 82%,5% 82%,5% 33%,93% 33%,93% 64%,79% 64%,79% 71%,8% 71%,8% 93%,69% 93%,69% 99%,40% 99%,40% 74%,76% 74%,76% 76%,60% 76%,60% 11%,75% 11%,75% 85%,64% 85%,64% 48%,75% 48%,75% 52%,89% 52%,89% 96%,4% 96%,4% 67%,67% 67%,67% 67%,19% 67%,19% 26%,49% 26%,49% 8%,23% 8%,23% 12%,99% 12%,99% 26%,17% 26%,17% 71%,98% 71%,98% 91%,15% 91%,15% 29%);
  }
  45% {
    clip-path: polygon(0% 54%,80% 54%,80% 7%,10% 7%,10% 1%,18% 1%,18% 9%,47% 9%,47% 34%,95% 34%,95% 69%,54% 69%,54% 4%,88% 4%,88% 75%,18% 75%,18% 75%,26% 75%,26% 56%,70% 56%,70% 62%,50% 62%,50% 92%,73% 92%,73% 88%,8% 88%,8% 15%,68% 15%,68% 41%,68% 41%,68% 67%,86% 67%,86% 73%,46% 73%,46% 55%,29% 55%,29% 86%,52% 86%,52% 7%,82% 7%,82% 59%,64% 59%,64% 19%,33% 19%,33% 42%,7% 42%,7% 7%,35% 7%,35% 52%,6% 52%,6% 55%);
  }
  76% {
    clip-path: polygon(0% 28%,16% 28%,16% 94%,90% 94%,90% 79%,79% 79%,79% 17%,40% 17%,40% 8%,92% 8%,92% 55%,6% 55%,6% 12%,22% 12%,22% 97%,70% 97%,70% 62%,93% 62%,93% 36%,56% 36%,56% 2%,63% 2%,63% 26%,2% 26%,2% 26%,51% 26%,51% 94%,63% 94%,63% 3%,60% 3%,60% 2%,54% 2%,54% 80%,50% 80%,50% 69%,41% 69%,41% 38%,19% 38%,19% 54%,41% 54%,41% 10%,97% 10%,97% 85%,93% 85%,93% 63%,25% 63%);
  }
  90% {
    clip-path: polygon(0% 54%,80% 54%,80% 7%,10% 7%,10% 1%,18% 1%,18% 9%,47% 9%,47% 34%,95% 34%,95% 69%,54% 69%,54% 4%,88% 4%,88% 75%,18% 75%,18% 75%,26% 75%,26% 56%,70% 56%,70% 62%,50% 62%,50% 92%,73% 92%,73% 88%,8% 88%,8% 15%,68% 15%,68% 41%,68% 41%,68% 67%,86% 67%,86% 73%,46% 73%,46% 55%,29% 55%,29% 86%,52% 86%,52% 7%,82% 7%,82% 59%,64% 59%,64% 19%,33% 19%,33% 42%,7% 42%,7% 7%,35% 7%,35% 52%,6% 52%,6% 55%);
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}
.paths1 {
  animation: paths1 7s step-end infinite;
}

@keyframes paths1 {
  0% {
    clip-path: polygon(0% 82%,73% 82%,73% 23%,32% 23%,32% 88%,47% 88%,47% 71%,16% 71%,16% 73%,12% 73%,12% 48%,58% 48%,58% 39%,41% 39%,41% 62%,9% 62%,9% 58%,15% 58%,15% 99%,60% 99%,60% 38%,88% 38%);
  }
  10% {
    clip-path: polygon(0% 29%,36% 29%,36% 78%,66% 78%,66% 37%,86% 37%,86% 88%,42% 88%,42% 74%,39% 74%,39% 20%,24% 20%,24% 43%,24% 43%,24% 47%,8% 47%,8% 21%,57% 21%,57% 94%,5% 94%,5% 63%,47% 63%,47% 81%,93% 81%,93% 75%,8% 75%,8% 36%,33% 36%,33% 8%,27% 8%,27% 87%,1% 87%,1% 53%,49% 53%,49% 22%,76% 22%,76% 35%,72% 35%,72% 34%,30% 34%,30% 56%,38% 56%,38% 54%,83% 54%,83% 31%,76% 31%,76% 98%,25% 98%,25% 65%,18% 65%,18% 86%,74% 86%,74% 96%,3% 96%,3% 64%,81% 64%,81% 6%,71% 6%);
  }
  25% {
    clip-path: polygon(0% 39%,80% 39%,80% 80%,37% 80%,37% 12%,46% 12%,46% 31%,58% 31%,58% 9%,60% 9%,60% 91%,94% 91%,94% 36%,84% 36%,84% 30%,43% 30%,43% 1%,87% 1%,87% 89%,11% 89%,11% 9%,70% 9%,70% 81%,88% 81%,88% 18%,94% 18%,94% 8%,49% 8%,49% 97%,27% 97%,27% 3%,69% 3%,69% 34%,7% 34%,7% 76%,91% 76%,91% 44%,52% 44%,52% 70%,38% 70%,38% 51%,26% 51%,26% 10%,43% 10%,43% 98%,56% 98%,56% 49%,99% 49%,99% 45%,81% 45%,81% 58%,55% 58%,55% 69%,27% 69%,27% 79%,72% 79%,72% 29%);
  }
  42% {
    clip-path: polygon(0% 54%,80% 54%,80% 7%,10% 7%,10% 1%,18% 1%,18% 9%,47% 9%,47% 34%,95% 34%,95% 69%,54% 69%,54% 4%,88% 4%,88% 75%,18% 75%,18% 75%,26% 75%,26% 56%,70% 56%,70% 62%,50% 62%,50% 92%,73% 92%,73% 88%,8% 88%,8% 15%,68% 15%,68% 41%,68% 41%,68% 67%,86% 67%,86% 73%,46% 73%,46% 55%,29% 55%,29% 86%,52% 86%,52% 7%,82% 7%,82% 59%,64% 59%,64% 19%,33% 19%,33% 42%,7% 42%,7% 7%,35% 7%,35% 52%,6% 52%,6% 55%);
  }
  65% {
    clip-path: polygon(0% 1%,99% 1%,99% 5%,85% 5%,85% 22%,86% 22%,86% 33%,97% 33%,97% 38%,1% 38%,1% 72%,8% 72%,8% 42%,11% 42%,11% 20%,55% 20%,55% 55%,43% 55%,43% 0%,48% 0%,48% 79%,67% 79%,67% 32%,67% 32%,67% 35%,21% 35%,21% 36%,24% 36%,24% 71%,82% 71%,82% 68%,10% 68%,10% 87%,75% 87%,75% 6%,6% 6%,6% 83%,42% 83%,42% 46%,21% 46%,21% 64%,18% 64%,18% 28%);
  }
  87% {
    clip-path: polygon(0% 54%,80% 54%,80% 7%,10% 7%,10% 1%,18% 1%,18% 9%,47% 9%,47% 34%,95% 34%,95% 69%,54% 69%,54% 4%,88% 4%,88% 75%,18% 75%,18% 75%,26% 75%,26% 56%,70% 56%,70% 62%,50% 62%,50% 92%,73% 92%,73% 88%,8% 88%,8% 15%,68% 15%,68% 41%,68% 41%,68% 67%,86% 67%,86% 73%,46% 73%,46% 55%,29% 55%,29% 86%,52% 86%,52% 7%,82% 7%,82% 59%,64% 59%,64% 19%,33% 19%,33% 42%,7% 42%,7% 7%,35% 7%,35% 52%,6% 52%,6% 55%);
  }

  1%,
  6%,
  29%,
  39%,
  81%,
  98% {
    clip-path: none;
  }
}

.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0;
    left: -5px;
  }

  15% {
    top: 5px;
    left: 5px;
  }

  60% {
    top: 2.5px;
    left: -5px;
  }

  75% {
    top: -5px;
    left: 15px;
  }

  100% {
    top: 5px;
    left: 5px;
  }
}

.opacity {
  animation: opacity 7s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}
.opacity1 {
  animation: opacity1 5s step-end infinite;
}

@keyframes opacity1 {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: $primary;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: $light;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: $success;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: $light;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: $success;
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 7s step-end infinite;
}

.glitch::before {
  animation: paths 7s step-end infinite, opacity 7s step-end infinite,
  font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 7s step-end infinite, opacity 7s step-end infinite,
  font 7s step-end infinite, movement 8s step-end infinite;
}

.glitch1 span {
  animation: paths 7s step-end infinite;
}

.glitch1::before {
  animation: paths1 5s step-end infinite, opacity1 5s step-end infinite,
  font 4s step-end infinite, movement 10s step-end infinite;
}

.glitch1::after {
  animation: paths1 5s step-end infinite, opacity1 5s step-end infinite,
  font 4s step-end infinite, movement 6s step-end infinite;
}

.fade-in-ani {
  animation: fade-in-ani 2s normal forwards ease-in-out;
}

@keyframes fade-in-ani {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;


}

.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: $light;
  stroke-width:5.5;
  stroke-linecap:round;

}
.ham:hover{
  stroke: $primary
}

.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}